
RedisConsumerGroup: gotestGroup
RedisConsumerName: gotestConsumer
RedisMaxInFlight: 8
RedisMaxPollingTimeout: 10ms
RedisClaimMinIdleTime: 30s
RedisIdlingTimeout: 150ms
RedisClaimSensitivity: 2
RedisClaimOccurrenceRate: 2

jaegerTraceUrl: http://localhost:14268/api/traces
jaegerQueryUrl: http://localhost:16686/api/traces
